# Virtual environments
**/*venv*/

# Ontologies
# ontologies/

# Vectorstore
vectorstores/

# Local testing
playground/*
models/
__pycache__/

# Ignore editor-specific files
.vscode/
.idea/

# Images
diagrams/img/
