# Virtual environments
**/*venv*/

# Ontologies
ontologies/

# Vectorstore
vectorstores/

# Local testing
playground/*
models/
__pycache__/

# Ignore editor-specific files
.vscode/
.idea/

# Images
diagrams/img/

# Knowledge learner module
manon-manufacturing-knowledge-learner/**

# Git control for modifying flight knowledge graph
!playground/sparql/onto/atmonto/flight/
!playground/sparql/onto/atmonto/flight/**